@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

:root {
  --bg-gradient: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(53, 4, 112, 1) 38%,
    rgba(114, 7, 168, 1) 100%
  );
  --surface-color: #1f1f23; /* Cor do "card" */
  --border-color: #323238;
  --primary-color: #8257e5;
  --primary-hover-color: #996dff;
  --text-color: #e1e1e6;
  --text-secondary-color: #a8a8b3;
  --input-bg-color: #121214;
  --delete-btn-main: #b998f8;
  --text-color-complete: #5b5b5d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: var(--bg-gradient);
  font-family: "Inter", sans-serif;

  display: grid;
  place-items: center;
  padding: 1rem;
}

.container {
  width: 100%;
  max-width: 450px;
  background-color: var(--surface-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 2.5rem;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}

h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: 700;
  color: var(--text-color);
}

form {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

input#input-tarefa {
  flex-grow: 1;
  padding: 0.8rem;
  border-radius: 6px;
  border: 1px solid var(--border-color);
  background-color: var(--input-bg-color);
  color: var(--text-color);
  font-size: 1rem;
}

#button-tarefa {
  padding: 0 1.5rem;
  border: none;
  border-radius: 6px;
  background-color: var(--primary-color);
  color: white;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#button-tarefa:hover {
  background-color: var(--primary-hover-color);
  transform: translateY(-2px);
}

ul {
  list-style-type: none;
}

li {
  padding: 0.8rem 0.2rem;
  border-bottom: 1px solid var(--border-color);
  animation: fadeIn 0.5s ease;
  color: var(--text-secondary-color);

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.task-content {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

li.completa span {
  text-decoration: line-through;
  color: var(--text-color-complete);
}

li:last-child {
  border-bottom: none;
}

ul p {
  text-align: center;
  color: var(--text-secondary-color);
  padding: 1rem;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  margin: 0;
  font: inherit;
  width: 1em; 
  height: 1em;
  border: 2px solid var(--border-color);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  display: grid;
  place-content: center;
  flex-shrink: 0;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
   box-shadow: inset 1em 1em white;

  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

/* Estilo para QUANDO o checkbox estiver MARCADO */
input[type="checkbox"]:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.delete-btn {
  background: transparent;
  border: none;
  padding: 0.2rem 0.4rem; 
  border-radius: 4px;
  cursor: pointer;
  color: var(--text-secondary-color);
  transition: all 0.2s ease-in-out;
}

.delete-btn:hover {
  color: #e02838;
  background-color: rgba(247, 90, 104, 0.1);
}
